
<div class="col-md-6">

</div>
<div class="col-md-6">
	<div id="box" class="jxgbox" style="width:500px; height:500px;"></div>
</div>
<script type"text/javascript" src="/js/dependencies/sails.io.js"></script>