<div class="col-md-12">
	<div class="col-sm-6">
		<div class="panel panel-default">
		  <div class="panel-body">
		    <h4>Neuronas ocultas</h4>
		    <div class="hiddenNeurons col-sm-12">
		    	<div class="col-sm-4 neuron" value="1">
		    		<p>1</p>
		    	</div>
		    	<div class="col-sm-4 neuron" value="2">
		    		<p>2</p>
		    	</div>
		    	<div class="col-sm-4 neuron" value="3">
		    		<p>3</p>
		    	</div>
		    	<div class="col-sm-4 neuron" value="4">
		    		<p>4</p>
		    	</div>
		    	<div class="col-sm-4 neuron" value="5">
		    		<p>5</p>
		    	</div>
		    	<div class="col-sm-4 neuron" value="6">
		    		<p>6</p>
		    	</div>
		    	<div class="col-sm-4 neuron" value="7">
		    		<p>7</p>
		    	</div>
		    	<div class="col-sm-4 neuron" value="8">
		    		<p>8</p>
		    	</div>
		    	<div class="col-sm-4 neuron" value="9">
		    		<p>9</p>
		    	</div>
		    	<div class="col-sm-4 neuron" value="10">
		    		<p>10</p>
		    	</div>
		    	<div class="col-sm-4 neuron" value="11">
		    		<p>11</p>
		    	</div>
		    	<div class="col-sm-4 neuron" value="12">
		    		<p>12</p>
		    	</div>
		    	<div class="col-sm-4 neuron" value="13">
		    		<p>13</p>
		    	</div>
		    	<div class="col-sm-4 neuron" value="14">
		    		<p>14</p>
		    	</div>
		    	<div class="col-sm-4 neuron" value="15">
		    		<p>15</p>
		    	</div>
		    </div>	    
		  </div>
		</div>		
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
		  <div class="panel-body">
		    <div id="chart"></div>
		  </div>
		</div>
	</div>
</div>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/js/dependencies/c3.js"></script>
    <script src="/js/dependencies/main.js"></script>
<script>
    window.onload = function () {
    	graf();
    }
</script>

	    

